name: Test Workflow

concurrency:
  group: 'code-quality-${{ github.ref }}'
  cancel-in-progress: false

on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Install Dependencies
        uses: kurocado-studio/styleguide/.github/actions/install@main

      - name: Test
        uses: kurocado-studio/styleguide/.github/actions/test@main
